.main {
}

.main .intro {
  display: flex;
  justify-content: center;
  background-color: black;
}

.main .innerIntro {
  font-weight: 700;
  font-size: 40px;
  color: white;
  margin: 98px 0;
}

.main .component {
  display: flex;
  justify-content: center;
  margin-top: 160px;
}


.main .innerComponent .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main .subHeader {
  letter-spacing: 10px;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
  margin-bottom: 16px;
}

.main .header {
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
  font-size: 56px;
}

.main .text {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.75;
  width: 349px;
  margin-top: 32px;
  margin-bottom: 40px;
}

.main  button {
  width: fit-content;
  padding: 15px 30px;
  margin-top: 16px;
  background-color: #D87D4A;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
}

.main .fourth {
  display: flex;
  justify-content: center;
}





@media (min-width: 1025px) {
  .main .innerComponent {
    width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 125px;
    height: 560px;
  }
  
  .main .first .innerComponent .left {
    background-image: url("../images/product-xx99-mark-two-headphones/desktop/image-product.jpg");
    background-size: contain;
  }

  .main .second .innerComponent .left {
    background-image: url("../images/product-xx99-mark-one-headphones/desktop/image-product.jpg");
    background-size: contain;
    grid-column: 2;
    grid-row: 1;
  }
  
  .main .third .innerComponent .left {
    background-image: url("../images/product-xx59-headphones/desktop/image-product.jpg");
    background-size: contain;
  }

  .main .cards {
    display: flex;
    justify-content: space-between;
    margin-top: 240px;
    width: 1100px;
  }
  
  .main .card {
    width: 350px;
    height: 204px;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding-bottom: 30px;
    border-radius: 8px;
  }
  
  .main .card img {
    position: absolute;
    margin-bottom: 50px;
  }
  
  .main .card .header {
    font-weight: 700;
    font-size: 18px;
  }
  
  .main .card .link {
    color: #D87D4A;
  }

  .main .fifth {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    margin-bottom: 242px;
  }
  
  .main .innerFifth {
    width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 588px;
  }
  
  .main .fifth .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    width: 445px;
  }
  
  .main .fifth .left .header {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
  }
  
  .main .fifth .left .text {
    font-size: 15px;
    line-height: 25px;
    opacity: 0.5;
  }
  
  .main .fifth span {
    color: #D87D4A;
  }
  
  .main .fifth .right {
    background-image: url("../images/shared/desktop/image-best-gear.jpg");
    border-radius: 8px;
  
  }
  
}

@media (max-width: 1024px) and (min-width: 800px) {
  .main .innerComponent {
    width: 689px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 52px;
  }

  .main .innerComponent > .right {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .main .innerComponent .left {
    background-size: cover;
    height: 352px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .main .first .innerComponent .left {
    background-image: url("../images/product-xx99-mark-two-headphones/tablet/image-category-page-preview.jpg");
    
  }

  .main .second .innerComponent .left {
    background-image: url("../images/product-xx99-mark-one-headphones/tablet/image-category-page-preview.jpg");
  }
  
  .main .third .innerComponent .left {
    background-image: url("../images/product-xx59-headphones/tablet/image-category-page-preview.jpg");
  }

  .main .fourth {
  }
  
  .main .cards {
    width: 689px;
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
  }

  .main .card {
    width: 223px;
    height: 204px;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding-bottom: 30px;
  }
  
  .main .card img {
    position: absolute;
    margin-bottom: 50px;
  }
  
  .main .card .header {
    font-weight: 700;
    font-size: 18px;
  }
  
  .main .card .link {
    color: #D87D4A;
  }
  
  .main .fifth {
    margin-top: 200px;
    margin-bottom: 242px;
    display: flex;
    justify-content: center;
  }
  
  .main .innerFifth {

    display: grid;
    width: 689px;
    grid-template-rows: 1fr 1fr;
    gap: 63px;
  }
  
  .main .fifth .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    text-align: center;
    align-items: center;

  }
  
  .main .fifth .left .header {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    width: 573px;

  }
  
  .main .fifth .left .text {
    font-size: 15px;
    line-height: 25px;
    opacity: 0.5;
    width: 573px;

  }
  
  .main .fifth span {
    color: #D87D4A;
  }
  
  .main .fifth .right {
    background-image: url("../images/shared/tablet/image-best-gear.jpg");
    border-radius: 8px;
    grid-row: 1;
    background-size: cover;
  }
  
}

@media (max-width: 800px) {

  .main .header {
    font-size: 28px;
    line-height: 38px
  }
  
  .main .innerComponent {
    width: 327px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 52px;
  }

  .main .innerComponent > .right {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .main .innerComponent .left {
    background-size: cover;
    height: 352px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .main .first .innerComponent .left {
    background-image: url("../images/product-xx99-mark-two-headphones/mobile/image-category-page-preview.jpg");
    width: 327px;
    
  }

  .main .second .innerComponent .left {
    background-image: url("../images/product-xx99-mark-one-headphones/mobile/image-category-page-preview.jpg");
    width: 327px;
  }
  
  .main .third .innerComponent .left {
    background-image: url("../images/product-xx59-headphones/mobile/image-category-page-preview.jpg");
    width: 327px;
  }

  .main .fourth {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main .innerFourth {
    background-color: blue;
    width: 327px;
    
  }
  
  .main .cards {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    justify-content: space-between;
    gap: 68px;
  }

  .main .card {
    width: 223px;
    height: 204px;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding-bottom: 30px;
  }
  
  .main .card img {
    position: absolute;
    margin-bottom: 50px;
  }
  
  .main .card .header {
    font-weight: 700;
    font-size: 18px;
  }
  
  .main .card .link {
    color: #D87D4A;
  }
  
  .main .fifth {
    margin-top: 200px;
    margin-bottom: 242px;
    display: flex;
    justify-content: center;
  }
  
  .main .innerFifth {

    display: grid;
    width: 327px;
    height: 698px;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
  }
  
  .main .fifth .left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;

  }
  
  .main .fifth .left .header {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    font-size: 28px;
    margin-top: 0 !important;
  }
  
  .main .fifth .left .text {
    font-size: 15px;
    line-height: 25px;
    opacity: 0.5;
    text-align: center;
    width: 327px;


  }
  
  .main .fifth span {
    color: #D87D4A;
  }
  
  .main .fifth .right {
    background-image: url("../images/shared/mobile/image-best-gear.jpg");
    border-radius: 8px;
    width: 327px;
    height: 300px;
    grid-row: 1;
    background-size: cover;
  }
}